<style>
* { 
    box-sizing: border-box; 
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }

  .column {
      float: left;
      width: 50%;
      padding: 15px;
  }
  /* Clear floats */
  .row::after {
      content: "";
      clear: both;
      display: table;

  }

 </style>